.container {
  &__header {
    padding: 5px 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-content: space-between;

    nav {
      display: flex;
      justify-content: space-evenly;
      a {
        opacity: 0.7;
        &:hover {
          color: palegreen;
        }
        &.active {
          opacity: 1;
        }
      }
    }
  }
}
