.container {
  &__equipment {
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
        color: paleturquoise;
        font-size: 10px;
      }
    }
    &-items{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .items-wrapper{
            display: flex;
            justify-content: space-between;
        }
        button{
            width: 100px;
            align-self: center; 
            border: none;
            background: none;
            &:hover{
                transition: ease-in-out .26s;
                color: paleturquoise;
            }
            
        }
    }
  }
}
