/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$primary: #01031f;
$secondary: #141631;
* {
  color: #fff;
}
body {
  background-color: $primary;
  font-family: "Poppins", sans-serif;
}
h1{
  font-size: 18px;
  font-weight: 500;
}
h2{
  font-size: 16px;
  font-weight: 400;
}
p,li {
  font-size: 14px;
}
li, ul{
  list-style: none;
  padding-inline-start: 0;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}
.container{
  padding: 20px;
}
.errorMsg{
  color: firebrick;
  font-style: italic;
  font-size: 10px;
  align-self: self-start;
}