/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$primary: #01031f;
$secondary: #141631;
* {
  color: #fff;
}
body {
  background-color: $primary;
  font-family: "Poppins", sans-serif;
}
p {
  font-size: 14px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}
.container{
  padding: 20px;
}